p {
  color: green;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
}

.box:hover {
  width: 300px;
  height: 300px;
  background-color: royalblue;
}

.box:active {
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
}

.box:focus {
  width: 50px;
  height: 50px;
  background-color: red;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: orange;
}

.box2::before {
  content: "Before";
}
.box2::after {
  display: block;
  width: 30px;
  height: 30px;
  background-color: royalblue;
  content: "";
}

.textBox {
  background-color: blue;
}

.textBox:focus {
  background-color: red;
}