div {
  font-size: 70px;
}
/* 10점 */
.hello {
  color: red;
}

/* 10점 */
.hello {
  color: green;
}

/* 11점 */
div.hello {
  color: mediumaquamarine;
}

/* 100점 */
#hello {
  color: blue;
}

/* 무한대 */
.hello {
  color: blueviolet !important;
}

.parent {
  width: 300px;
  height: 200px;
  background-color: royalblue;
}

.child {
  min-width: 400px;
  height: 100px;
  background-color: orange;
}

.container {

}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 4px solid red;
  margin-bottom: 20px;
}

.container .item:first-child {
  padding: 20px;
}

.container .item:nth-child(2) {
  border: 10px dashed red;
}

.container .item:last-child {
  border: 10px solid red;
  border-radius: 50px;
}

.overflowParent {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

.overflowChild {
  opacity: 0.5;
  width: 300px;
  height: 100px;
  background-color: orange;
}
h1 {
  display: block;
  width: 200px;
  height: 100px;
  background-color: orange;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  font-family: Serif;
  color: red;
  text-decoration: underline;
  text-align: center;
  line-height: 100px;
}

.box-wrap {
  width: 400px;
  height: 300px;
  background-color: tomato;
  position: relative;
}

.box-container {
  width: 300px;
  background-color: royalblue;
  /*position: relative;*/
}

.box-container .item {
  border: 4px dashed red;
  background-color: orange;
}

.box-container .item:nth-child(1) {
  width: 100px;
  height: 100px;
}
.box-container .item:nth-child(2) {
  width: 140px;
  height: 70px;
  /*position: relative;*/
  /*top: 30px;*/
  /*left: 60px;*/
  position: absolute;
  bottom: 30px;
  right: 60px;
}
.box-container .item:nth-child(3) {
  width: 70px;
  height: 120px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.flex-container {
  background-color: royalblue;
  display: flex;
}

.flex-container .item {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
}